@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Serif+Pro:wght@300;400&display=swap');

@font-face {
	font-family: 'BebasNeue';
	src: url('../fonts/bebasneue/BebasNeue Light.eot');
	src: local('☺'), url('../fonts/bebasneue/BebasNeue Light.woff') format('woff'), url('../fonts/bebasneue/BebasNeue Light.ttf') format('truetype'), url('../fonts/bebasneue/BebasNeue Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeue Thin';
	src: url('../fonts/bebasneue/BebasNeue Thin.eot');
	src: local('☺'), url('../fonts/bebasneue/BebasNeue Thin.woff') format('woff'), url('../fonts/bebasneue/BebasNeue Thin.ttf') format('truetype'), url('../fonts/bebasneue/BebasNeue Thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}