.main {
	&-wrapper{

	}
	&-container {
		padding: 90px 0px 0px 0px;
		text-align: center;
	}
}

.iceland {
	padding: 0px 0px 110px 0px;
	&-content {
		margin: 70px 0px 0px 0px;
		display: flex;
		justify-content: space-between;
		&__about {
			flex-basis: 40%;
			text-align: left;
			font-family: 'Source Serif Pro';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			/* or 171% */
			letter-spacing: 0.01em;
			color: #222222;
		}
	}

}

.we {
	display: flex;
	justify-content: center;
	&-wrapper {
		width: 1240px;
		background: linear-gradient(rgba(61, 57, 57, 0.4)), url('../img/why.png') no-repeat;
	}
	&-container {
		padding: 90px 0px 135px 0px;
	}
	&-title.section__title{
		color: #FFFFFF;
	}
	&-content {
		margin: 80px 0px 0px 0px;
		display: flex;
		justify-content: space-around;
		&__item {
			flex-basis: 20%;
		}
	}

	.content{
		&-item{
			&__title {
				text-align: left;
				font-family: 'Source Serif Pro';
				font-style: normal;
				font-weight: 300;
				font-size: 22px;
				line-height: 30px;
				/* or 136% */
				letter-spacing: 0.02em;
				color: #FFFFFF;
			}
			&__description {
				margin: 20px 0px 0px 0px;
				text-align: left;
				font-family: 'Source Serif Pro';
				font-style: normal;
				font-weight: 100;
				font-size: 14px;
				line-height: 18px;
				/* or 150% */
				letter-spacing: 0.01em;
				color: #FFFFFF;
			}
		}
	}
}

.route {

	&-wrapper {
	}

	&-container {
		padding: 90px 0px 100px 0px;
		background: #FAFAFA;
	}

	&-title {
	}

	&-content {
		position: relative;
		margin: 60px 0px 0px 0px;
		overflow: hidden;
	}

	.swiper {

		&-route {
		}
	
		&-wrapper {
		}
	
		&-slide {
		}
	}
	&-button-prev{
		position: absolute;
		top: 50%;
		left: 0;
	}
	&-button-prev::after{
		content: url('../img/arrow-left.png');
	}
	&-button-next{
		position: absolute;
		top: 50%;
		right: 0;
	}
	&-button-next::after {
		content: url('../img/arrow-right.png');
	}

	.route {

		&-item {
			display: flex;
			justify-content: space-around;

			&__img {
				
				min-width: 426px;
				min-height: 542px;
			}
			&__description {
				flex-basis: 35%;
			}
		}
}
.img1{
	background: url('../img/route1.png');
}
.img2{
	background: url('../img/route2.png');
}
.img3{
	background: url('../img/route3.png');
}
.img4{
	background: url('../img/route4.png');
}
.img5{
	background: url('../img/route5.png');
}
.img6{
	background: url('../img/route6.png');
}
.img7{
	background: url('../img/route7.png');
}

	.description {

		&-subtitle {
			padding: 30px 0px 0px 0px;
			font-family: 'Source Serif Pro';
			font-style: normal;
			font-weight: 300;
			font-size: 22px;
			line-height: 32px;
			/* identical to box height, or 145% */
			text-align: center;
			letter-spacing: 0.02em;
			color: #222222;
		}

		&-about {
			margin: 45px 0px 0px 0px;
			text-align: left;
			font-family: 'Source Serif Pro';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 24px;
			/* or 171% */
			letter-spacing: 0.01em;
			color: #222222;
		}
}

}

.price {
	display: flex;
	justify-content: center;
	&-wrapper {
		max-width: 1400px;
		width: 99%;
		// background: linear-gradient(rgba(0, 0, 0, 0.1)), url('../img/price-bac.png') center no-repeat;
	}

	&-container {
		margin: auto;

	}
	&-back {
		background: linear-gradient(rgba(0, 0, 0, 0.1)), url('../img/price-bac.png') center no-repeat;
	}

	&-title {
		padding: 30px 0px 0px 0px;
		font-family: 'BebasNeue Thin';
		font-style: normal;
		font-weight: normal;
		font-size: 34px;
		line-height: 34px;
		text-align: center;
		letter-spacing: 0.12em;
		color: #FFFFFF;
	}

	&-subtitle {
		margin: 10px 0px 0px 0px;
		font-family: 'Source Serif Pro';
		font-style: normal;
		font-weight: 300;
		font-size: 22px;
		line-height: 32px;
		/* identical to box height, or 145% */
		text-align: center;
		letter-spacing: 0.02em;
		color: #FFFFFF;
	}

	&-button {
		display: inline-block;
		margin: 50px 0px 50px 0px;
		width: 241px;
		height: 62px;
		background: #1148C0;
		font-family: 'BebasNeue';
		font-style: normal;
		font-weight: 100;
		font-size: 18px;
		line-height: 62px;
		/* or 133% */
		letter-spacing: 0.18em;
		color: #FFFFFF;
		text-decoration: none;
	}

	&-content {
		position: relative;
		padding: 30px 0px 0px 0px;
		margin: auto;
		max-width: 1030px;
		width: 98%;
		&__wrapper::after {
			position: absolute;
			// bottom: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 1px;
			background-color: #22222212;
		}
		&__wrapper::before {
			position: absolute;
			// top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 1px;
			background-color: #22222212;
		}
	}

	.content-accordion {
		position: relative;
		padding: 30px 0px 30px 15px;
		// padding-left: 20%;
		font-family: 'BebasNeue';
		font-style: normal;
		font-weight: 300;
		font-size: 22px;
		line-height: 26px;
		/* identical to box height */
		text-align: center;
		letter-spacing: 0.12em;
		color: #222222;
		cursor: pointer;
		text-align: left;
		&::after {
			position: absolute;
			right: 20px;
			content: '\02795';
		}

		&__block {
			max-height: 0;
			overflow: hidden;
			transition: max-height 0.2s ease-out;
		}
	
	}

	.avtive-accordion::after {
			content: '\2212';
	}
	

	.accordion {

		&-text {

			&__item {
				width: 60%;
				padding: 0px 0px 0px 15px;
				position: relative;
				text-align: left;
				font-family: 'Source Serif Pro';
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 24px;
				/* or 171% */
				letter-spacing: 0.01em;
				color: #222222;
				text-decoration: none;
				&::before {
					position: absolute;
					left: 0;
					top: 40%;
					display: flex;
					align-items: center;
					content: '';
					width: 5px;
					height: 5px;
					background-color: #222222;
					border-radius: 50%;
				}
			}
		}
	}
}

.residence {

	&-wrapper {
		margin: auto;
		max-width: 1300px;
		width: 98%;
		background: #FAFAFA;
	}

	&-container {
		padding: 90px 0px 150px 0px;

	}

	&-title {
		@extend %section__title;
	}

	&-content {
		margin: 65px 0px 0px 0px;
		display: flex;
		justify-content: space-around;

		&__video {
			flex-basis: 65%;
		}

		&__description {
			flex-basis: 35%;
			display: flex;
			align-items: center;
		}

		&__text {
			width: 65%;
			text-align: left;
			font-family: 'Source Serif Pro';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 21px;
			/* or 150% */
			letter-spacing: 0.01em;
			color: #222222;
		}
	}
}

.book {

	&-wrapper {
		margin: auto;
		max-width: 1400px;
		width: 99%;
		background: url("../img/book_bcg.png");
	}

	&-container {
		padding: 90px 0px 82px 0px;
	}

	&-title {
		color: #FFFFFF;
	}

	&-content {
		margin: 95px 0px 0px 0px;
	}

	&-form {
		display: block;
		max-width: 540px;
		width: 99%;

		&__subtitle {
			max-width: 542px;
			width: 99%;
			margin: 190px 0px 50px 0px;
			font-family: 'Source Serif Pro';
			font-style: normal;
			font-weight: normal;
			font-size: 22px;
			line-height: 30px;
			/* or 136% */
			text-align: center;
			letter-spacing: 0.02em;
			color: #FFFFFF;
		}

		&__input {
			max-width: 500px;
			width: 99%;
			height: 60px;
			margin: 0px 0px 20px 0px;
			padding: 0px 20px 0px 20px;
			font-family: 'BebasNeue';
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
			/* identical to box height */
			letter-spacing: 0.18em;
			color: #766F6F;
		}

		&__button {
			width: 241px;
			height: 60px;
			left: 581px;
			top: 1007px;
			background: #1148C0;
			border: 1px solid #1148C0;
			font-family: 'BebasNeue';
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			letter-spacing: 0.18em;
			text-transform: uppercase;
			color: #FFFFFF;
		}
	}
}

