%section__title {
	margin: 30px 0px 0px 0px;
	font-family: 'BebasNeue Thin';
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	line-height: 34px;
	text-align: center;
	letter-spacing: 0.12em;
	color: #222222;
}

.section__title {
	@extend %section__title;
}



%logo__link {
	margin: 0px 150px 0px 150px;
	padding: 5px 13px 5px 13px;
	display: inline-block;
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	border: 1px solid white;
}

.logo__link {
	@extend %logo__link;
}