@import '_normalize';
@import '_fonts';
@import '_header';
@import '_main';
@import '_footer';
@import '_variables';
@import '_templates';
@import '_responsive';

.container {
	margin: auto;
	max-width: 1030px;
	width: 98%;
}

.logo-link__black {
	margin: 0px 150px 0px 150px;
	padding: 5px 13px 5px 13px;
	display: inline-block;
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	letter-spacing: 0.05em;
	color: black;
	border: 1px solid black;
}